@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
  --primary-color: #ffffff;
  --secondary-color: #0F173F;
  --gray-color: #9AA1AD;
}

:root {
  --color-background: var(--primary-color);
  --color-primary-text: var(--secondary-color);
  --color-secondary-text: var(--primary-color);
  --color-other-text: var(--gray-color);
}

body {
  min-height: 100vh;
  background: var(--color-background);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--color-primary-text);
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  background-color: var(--color-primary-text);
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

